body{
	font-family:Helvetica, Arial, sans-serif;
	background-color:rgb(54,57,62);		/*color de fondo de discord jz */
	margin:0px;
}
p{
	display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding:4px;
}

#gamebox{
	background-color:rgb(255,255,255);
	width:900px;
	height:640px;
}

#controls {
	font-size:16px;
	font-weight:bold;
	height:40px;
}

#canvas{
	margin:0px auto 0px auto;
	border-top:2px solid gray;
	border-bottom:2px solid gray;
}

#animateButton {
	float: left;
	margin: 10px 10px 10px 10px;
}

#frameRate {
	float:right;
	margin-top:10px;
	margin-right:20px;
}

#sheetSelector{
	float:left;
	margin: 10px 10px 10px 10px;
}
