h1 {
  text-align: center;
  margin-bottom: 100px;
}
li{
    display:inline;
    margin:0px 3px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ul{
    text-align: center;
    max-width:600px;

    margin:0px auto 30px auto;           /*esto no funcionaba sin antes poner un width, debido a que ocupaba el ancho completo de la pantalla*/
    padding:20px;
    border-top:2px solid black;
    border-bottom:1px solid black;

    font-size:20px;
    font-weight:bold;
}
a{
    text-decoration:none;
    padding:5px;
    display:inline-block;                      /*esto convierte la referencia en una caja y la mantiene como inline*/
    /*border:1px solid black; */  /* para debug */           
}
a:link{
    color:black;
}
a:hover{
    color:black;
    text-shadow: 2px 2px 1px white;
}
a:visited{
    color:black;
}
a:active{
    color:green;
}


.container {
    background-image: url("images/mountains.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@media screen and (max-width: 1024px) {
    .container {
        background-position: 40%;
    }
}

.tbox{
    margin:0px auto 0px auto;
    max-width:1000px;
    border:5px double black;
    background-color:hsla(0,100%,100%,0.5);
}
#acortar{

}
.marco{
    border: 5px ridge rgba(28,110,164,0.86);
    border-radius: 7px;
}
.ml2 {
  font-family:"Lucida Grande", sans-serif;
  font-weight: 900;
  font-size: 5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
  color: #0074D9;
}
.box{
    float:left;
    margin-right:30px;
    margin-left:30px;
}
}
.clear{
    clear:both;
}